@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Confirmação de envio de senha.";
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h4>Por favor, verifique seu email para redefinir sua senha.</h4>
        <hr />
    </div>
</div>

