
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-3" style="padding:50px 0 0 10px;  border:1px none #ff0000">
        <img src="~/Content/pho_images/phoimg_icones/imgico_raycloud4_230.png" width="180" height="180" />
    </div>
    <div class="col-md-9" style="border:1px none #4cff00">
        <div>&nbsp;</div>
        <h1>Oops!</h1>
        <h3>A página que você procura não pode ser encontrada</h3>
        <div>&nbsp;</div>
        <h4>Possíveis Motivos:</h4>
        <ul>
            <li>O conteúdo não está mais no ar;</li>
            <li>A página mudou de lugar;</li>
            <li>Você digitou o endereço errado.</li>
        </ul>
    </div>

</div>
