@*@model NewPhotoCloud.Models.CriarPasta*@

<div class="modal fade" id="modalBootstrap" tabindex="-1" role="dialog" aria-labelledby="modalBootstrapLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalBootstrapLabel"></h4>
            </div>
            <div class="modal-body custom-size-modal">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 id="modal-container-title"></h4>
                            <div id="modalSubtitle" class="modal-subtitle"></div>
                            <hr />
                            <div id="modal_container">
                                <div id="modal_container_resp"></div>
                                <div id="modal_container_contents" style="border:1px none #ff0000;">


                                </div><!-- /.modal_container_contents -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
